h1 span {
 color: cyan; 
 background-color: black;  
}

h2 {
    color: whitesmoke;
    background-color: darkorchid;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

h3 {
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}